body {
    font-family: Arial, sans-serif;
    background-color: #ffffcc;
    color: #080808;
    margin: 0;
    padding: 0;
}

/* Estilo para o container do nav */
nav {
    background-color: #841b2d; /* Cor de fundo */
    padding: 10px 20px; /* Espaçamento interno */
}

/* Estilo para o ul no menu */
nav ul {
    list-style-type: none; /* Remove os marcadores */
    margin: 0; /* Remove margens */
    padding: 0; /* Remove espaçamento interno */
    display: flex; /* Deixa os itens na horizontal */
    justify-content: center; /* Centraliza os itens */
    gap: 15px; /* Espaçamento entre os itens */
}

/* Estilo para os links do menu */
nav ul li a {
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Cor do texto */
    font-size: 16px; /* Tamanho da fonte */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

/* Efeito ao passar o mouse */
nav ul li a:hover {
    background-color: #bf4f51; /* Cor de fundo ao passar o mouse */
}

main {
    padding: 20px;
}

h1 {
    font-size: 24px;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.servicos-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.servico-item {
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    gap: 15px;
}

.servico-item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.servico-info {
    flex-grow: 1;
}

.servico-info h2 {
    font-size: 18px;
    margin: 0;
}

.servico-info p {
    font-size: 14px;
    color: #bbb;
    margin: 5px 0;
}

.servico-info .preco {
    font-size: 16px;
    font-weight: bold;
    color: #4caf50;
}

.servico-info .duracao {
    font-size: 14px;
    color: #bbb;
}

.agendar-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.agendar-btn:hover {
    background-color: #45a049;
}

/* Footer styles */
footer {
        position: fixed; /* Fixa o footer na tela */
        bottom: 0; /* Coloca o footer no final da tela */
        left: 0;
        width: 100%; /* Ocupa toda a largura da página */
        background-color: #841b2d; /* Cor de fundo */
        color: white; /* Cor do texto */
        text-align: center; /* Centraliza o texto */
        padding: 10px 0; /* Espaçamento interno */
        font-size: 14px; /* Tamanho da fonte */
}


